.code-csv-card {
  padding: 15px 20px;
  margin: 10px auto;
  background: $white;
  cursor: pointer;

  &.empty {
    opacity: 0.6;
    font-weight: bold;

    &:hover {
      opacity: 0.8;
      background-color: $blue;
      color: $white;
      box-shadow: 0 2px 8px $charcoal-40;
      transition: 200ms;
      transform-origin: 50% 50%;
      transform: scale(1.02);
    }
  }
}

.name-date-wrapper {
  flex-flow: column;
}

.code-csv-name {
  margin-right: 15px;
  font-weight: 600;
}

.code-csv-date {
  color: $silver;
  font-size:$xs;
}

.code-csv-download {
  margin-left: auto;
}
