.edit-course {
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: inherit;
}

.edit-module-text {
  margin-top: 40px;
  margin-bottom: 40px;
}

.edit-section {
  margin-bottom: 20px;
  margin-top: 10px;
}

.edit-subsection {
  margin-left: 20px;
  margin-top: 10px;
}

.edit-component {
  margin-left: 30px;
  margin-top: 10px;
}

.inline-block {
  display: inline-block;
}

.white-box {
  background-color: $white;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-image {
  width: 20px;
  margin-right: 15px;
}

.big-blue-plus {
  width: 30px;
  margin-right: 20px;
}

.course-edit-header {
  width: 100vw;
  height: 400px;
  overflow: hidden;
}

.course-edit-header-container {
  height: 100%;
  position: relative;
}

.course-edit-header-text {
  color: white;
  position: absolute;
  bottom: 10%;
  width: 40%;
}

.course-edit-header-title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 8%;
}

.course-edit-image-container {
  position: absolute;
  bottom: 10%;
  right:0;
}

.course-edit-image-upload {
  cursor: pointer;
}
