.edit-course {
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: inherit;
}

.edit-module-container {
  padding: 40px 0px;
}

.edit-section {
  margin-bottom: 20px;
  margin-top: 10px;
}

.course-edit-subsection {
  padding: 20px;
  margin: 10px 0px;
}

.white-box {
  background-color: $white;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.course-image-icon {
  width: 15px;
  height: 15px;

  &.margin {
    margin-right: 15px;
  }
}

.course-edit-label {
  justify-content: space-between;
  align-items: center;
}

.big-blue-plus {
  width: 30px;
  margin-right: 20px;
}

.course-edit-header {
  width: 100vw;
  height: 400px;
  overflow: hidden;
}

.course-edit-header-container {
  height: 100%;
  position: relative;
}

.course-edit-header-text {
  color: white;
  position: absolute;
  bottom: 10%;
  width: 40%;
  text-shadow: 2px 2px 4px $charcoal;
}

.course-edit-header-title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 8%;
}

.course-edit-image-container {
  position: absolute;
  bottom: 10%;
  right:0;
  padding-right: inherit;
}

.course-edit-image-upload {
  cursor: pointer;
}

.course-edit-inline-edit {
  width: 80%;
}

.course-edit-component-container {
  padding: $xs;
  margin: 10px 0px;
}

.course-edit-component-handle {
  width: 15px;
  height: 15px;
  cursor: move;
  margin: $xs;
}

.course-edit-component:hover {
  background-color: $snow;
  cursor: pointer;
}

.course-edit-delete {
  align-self: center;
  margin-left: auto;
}

.add-subsection-button {
  margin: $sm 0px;
}

.add-component-button {
  margin: $sm 0px;
}

.sorting {
  display: none;
}
