.course-sidebar-container {
  width: 30%;
  overflow-y: scroll;
  height: 100vh;
}

.component-display-container {
  width: 70%;
  height: 100vh;
  overflow-y: scroll;
  padding: $xl 0px;
}

.component-next-container {
  padding: $sm 0px;
  flex-direction: row-reverse;
}
