.export-import-container {
  margin: 0px auto;
  height: 100%;
}

.export-container {
  width: 50%;
  height: 100%;
  margin: $xl $md;
  background-color: $false-white;
  border-radius: 4px;
  padding: $xl;
}

.import-container {
  @extend .export-container;
}

.export-import-desc {
  font-style: italic;
  font-weight: $semi-bold;
  font-size: 16px;
  color: $light-charcoal;
}

.course-export-button {
  background-color: $white;
  box-shadow: 0px 0px 6px 0px $charcoal-40;
}

.course-import-button {
  @include appearance(none);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 10px;
  background-color: $white;
  background-origin: content-box;
  border-radius: 4px;
  border: 1px solid transparent;
  color: $charcoal;
  font-size: 14px;
  font-weight: 400;
  font-family: $font-stack;
  outline: none;
  padding: 8px 15px;
  transition: 50ms;
  cursor: pointer;
  box-shadow: 0px 0px 6px 0px $charcoal-40;

  &:hover {
    border-color: $dark-blue;
  }
}
