.login-container {
  min-height: 100vh;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;

  flex-direction: column;
  justify-content: center;
}

.login-logo {
  width: 150px;
  height: 150px;
}
