.login-container {
  min-height: 100vh;
}

.login-modal {
  padding-bottom: 80px;
}

.login-form {
  width: 250px;
}

.checkbox {
  width: 15px;
  height: 15px;
  background: $blue;
}

.login-logo {
  width: 100px;
  height: 100px;
}
