/* Example
  @include keyframes(dropFadeIn) {
    from {
      opacity: 0;
      @include transform(translateY(-20px));
    }
    to {
      opacity: 1;
      @include transform(translateY(0px));
    }
  }
*/
@import './mixins';

@include keyframes(riseFadeIn) {
  from {
    opacity: 0;
    @include transform(translateY(50px));
  }
  to {
    opacity: 1;
    @include transform(translateY(0px));
  }
}

@mixin rotateLeft($angle: 90) {
  @include keyframes(rotateLeft#{$angle}) {
    from {
      @include transform(rotate(#{$angle}deg));
    }
    to {
      @include transform(rotate(0deg));
    }
  }
}

/* Add more angles below as necessary

Example:
  animation: rotateLeft90 2s ease-in-out;
*/
@include rotateLeft(90);

@mixin rotateRight($angle: 90) {
  @include keyframes(rotateRight#{$angle}) {
    from {
      @include transform(rotate(-#{$angle}deg));
    }
    to {
      @include transform(rotate(0deg));
    }
  }
}

@include rotateRight(90);

/* Animation Utilities */

@mixin delay($ms) {
  animation-delay: #{$ms}ms;
}
