.radial-gradient-mask {
  background: radial-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0));
  margin: -50px auto;
  padding: 50px 0;
}

.linear-gradient-60-mask {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.35)
  );
  margin: 0px;
  padding: 0px;
}
