* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $snow;
}

img {
  object-fit: cover;
}

$xxxs: 3px;
$xxs: 6px;
$xs: 12px;
$sm: 16px;
$md: 24px;
$lg: 32px;
$xl: 40px;
$xxl: 54px;
$xxxl: 60px;
$xxxxl: 72px;

$space-names: 'xxs', 'xs', 'sm', 'md', 'lg', 'xl', 'xxl';
$space-list: $xxs, $xs, $sm, $md, $lg, $xl, $xxl;

@each $value in $space-list {
  $i: index($space-list, $value);
  $name: nth($space-names, $i);

  .margin-#{$name} { margin: $xxs; }

  .marginTopBot-#{$name} {
    margin-top: #{$value};
    margin-bottom: #{$value};
  }

  .marginLeftRight-#{$name} {
    margin-left: #{$value};
    margin-right: #{$value};
  }

  .marginTop-#{$name} { margin-top: #{$value} }
  .marginBot-#{$name} { margin-bottom: #{$value} }
  .marginLeft-#{$name} { margin-left: #{$value} }
  .marginRight-#{$name} { margin-right: #{$value} }
}

.main-container {
  width: auto;
  height: auto;
}

.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  &.center {
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    justify-content: center;
  }

  &.vertical {
    align-items: center;
  }

  &-vertical {
    flex-direction: column;
  }

  &-horizontal {
    flex-direction: row;
  }

  &-grow {
    flex: 1;
  }

  &-child-end {
    align-self: flex-end;
  }

  &-parent-start {
    align-items: flex-start;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;
}

@media (min-width: 650px) {
  .container {
    width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
