// Places vendor prefixes before each property: value pair
@mixin prefixer($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

/* Use this for transforms
 * Syntax example:
 *    @include transform(translateY(-50px));
 */
@mixin transform($property: none) {
  @include prefixer(transform, $property);
}

@mixin transform-origin($origin: center) {
  @include prefixer(transform-origin, $origin);
}

/* Use this for transforms
 * Syntax example:
 *    @include appearance(none);
 */
@mixin appearance($property: none) {
  @include prefixer(appearance, $property);
}

/* Use this for filters
 * Syntax example:
 *    @include filter(grayscale(100%));
 */
@mixin filter($property: none) {
  @include prefixer(filter, $property);
}

/* Use this for keyframe animations
 * Syntax example:
 *    @include keyframes(myRotate) {
 *      from {
 *        @include transform(rotate(0deg));
 *      }
 *      to {
 *        @include transform(rotate(360deg));
 *      }
 *    }
 */
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

/* Animation properties: can't use shorthand notation
 * for Safari, so all properties prefixed.
 */
@mixin animation-name($name...) {
  @include prefixer(animation-name, $name);
}

@mixin animation-duration($duration...) {
  @include prefixer(animation-duration, $duration);
}

@mixin animation-iteration-count($count...) {
  @include prefixer(animation-iteration-count, $count);
}

@mixin animation-timing-function($function...) {
  @include prefixer(animation-timing-function, $function);
}

@mixin animation-fill-mode($fill...) {
  @include prefixer(animation-fill-mode, $fill);
}

@mixin animation-delay($delay...) {
  @include prefixer(animation-delay, $delay);
}

// Clearfix for floats
@mixin clearAfter {
  &:after {
    clear: both;
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
  }
}
