$black                          : #30404D;
$black-80                       : rgba($black, 0.80);
$black-60                       : rgba($black, 0.60);
$black-40                       : rgba($black, 0.40);
$black-20                       : rgba($black, 0.20);
$black-10                       : rgba($black, 0.10);

$silver                         : #8492A6;
$silver-80                      : rgba($silver, 0.80);
$silver-60                      : rgba($silver, 0.60);
$silver-40                      : rgba($silver, 0.40);
$silver-20                      : rgba($silver, 0.20);
$silver-10                      : rgba($silver, 0.10);

$gray                           : #E1E1E1;
$gray-80                        : rgba($gray, 0.80);
$gray-60                        : rgba($gray, 0.60);
$gray-40                        : rgba($gray, 0.40);
$gray-20                        : rgba($gray, 0.20);
$gray-10                        : rgba($gray, 0.10);

$snow                           : #F0F2F4;
$snow-80                        : rgba($snow, 0.80);
$snow-60                        : rgba($snow, 0.60);
$snow-40                        : rgba($snow, 0.40);
$snow-20                        : rgba($snow, 0.20);
$snow-10                        : rgba($snow, 0.10);

$blue                           : #1DA3CA;
$blue-80                        : rgba($blue, 0.80);
$blue-60                        : rgba($blue, 0.60);
$blue-40                        : rgba($blue, 0.40);
$blue-20                        : rgba($blue, 0.20);
$blue-10                        : rgba($blue, 0.10);

$dark-blue                      : #147D9C;
$dark-blue-80                   : rgba($dark-blue, 0.80);
$dark-blue-60                   : rgba($dark-blue, 0.60);
$dark-blue-40                   : rgba($dark-blue, 0.40);
$dark-blue-20                   : rgba($dark-blue, 0.20);
$dark-blue-10                   : rgba($dark-blue, 0.10);

$yellow                         : #FED10D;
$yellow-80                      : rgba($yellow, 0.80);
$yellow-60                      : rgba($yellow, 0.60);
$yellow-40                      : rgba($yellow, 0.40);
$yellow-20                      : rgba($yellow, 0.20);

$red                            : #E44438;
$red-80                         : rgba($red, 0.80);
$red-60                         : rgba($red, 0.60);
$red-40                         : rgba($red, 0.40);
$red-20                         : rgba($red, 0.20);

$green                          : #20B844;
$green-80                       : rgba($green, 0.80);
$green-60                       : rgba($green, 0.60);
$green-40                       : rgba($green, 0.40);
$green-20                       : rgba($green, 0.20);

$dark-gray                      : #3C4858;
$dark-gray-80                   : rgba($dark-gray, 0.80);
$dark-gray-60                   : rgba($dark-gray, 0.60);
$dark-gray-40                   : rgba($dark-gray, 0.40);
$dark-gray-20                   : rgba($dark-gray, 0.20);
$dark-gray-10                   : rgba($dark-gray, 0.10);

$white                          : #FFFFFF;
$white-80                       : rgba($white, 0.80);
$white-60                       : rgba($white, 0.60);
$white-40                       : rgba($white, 0.40);
$white-20                       : rgba($white, 0.20);
$white-10                       : rgba($white, 0.10);


$blue-dark                      : #09556A;
$component-gray                 : #A2A2A2;
$font-stack                     : 'Lato', 'Helvetica', sans-serif;

$transparent                    : rgba($white, 0);

/* Font weights */
$extra-bold                     : 900;
$bold                           : 700;
$regular                        : 400;
$light                          : 300;
