.white {
  background-color: $white;
}

.component-form {
  display: block;
}

.component-button {
  font-family: $font-stack;
  background-color: $white;
  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 0px;
  font-size: 16px;
  text-align: center;

  &:hover {
    background-color: $gray;
  };
  &.active {
    border-bottom: 4px $blue-80 solid;
    font-weight: $bold;
  };
}

.create-component-button {
  float: right;
}

.button-container {
  margin: 10px 0px 0px 10px;
}

.add-component-body-text {
  margin: 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: $extra-bold;
  color: $silver-60;
}

.add-component-form-item {
  margin: 20px;
}
