.create-component-button {
  float: right;
}

.add-component-body-text {
  margin: 10px;
  font-size: 16px;
  color: $silver-60;
}

.add-component-form-item {
  margin: 20px 0px;
}

.component-image {
  width: 100%;
}
