.sidebar-section-card {
  min-height: 60px;
  padding: 0px;
  margin: 10px;
  background: $white;
  &:hover {
    outline: 1px solid $blue;
    transition: 100ms;
    transform-origin: 50% 50%;
    transform: scale(1.02);
  }
}

.sidebar-subsection-card {
  height: 50px;
  line-height: 40px;
  padding: 5px 20px;
  margin: 0px;
  background: $white;
  border-left: solid 3px $gray;
  &:hover {
    background-color: $gray-40;
  }
}

.sidebar-section-title-container {
  width: 100%;
  min-height: 80px;
  line-height: 80px;
  padding: 0px 15px;
  font-size: 20px;
}
