// Shared

.courses-title {
  font-size: 28px;
}

.course-list {
  margin-right: -30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.courses-header {
  justify-content: space-between;
  margin: 30px 0px 0px 0px;
}

// Student


// Admin


