.card {
  position: relative;
  background: $white;
  width: 300px;
  height: 350px;
  margin: 50px;
  display: inline-block;
}

.card-img-container {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.card-title {
  color: $black;
  font-family: $font-stack;
  font-size: 20px;
  font-weight: $regular;
  margin: 16px;
}

.card-progress-bar {
  position: absolute;
}

