// Shared

.courses-title {
  font-size: 28px;
}

.courses-subtitle {
  margin: $sm 0px;
  font-size: 24px;
  font-weight: $semi-bold;
  color: $charcoal-60;
}

.course-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -40px;
}

.courses-header {
  justify-content: space-between;
  margin: 30px 0px 30px 0px;
}

.courses-placeholder {
  font-size: 16px;
  text-align: center;
  color: $light-charcoal;
  margin: $xl auto;
}

// Student


// Admin
