.sidebar-course-title-container {
  position: relative;
  background: $charcoal;
  padding: $sm $xxxl;
  justify-content: space-between;
}

.sidebar-course-logo {
  width: $lg;
  height: $lg;
}

.sidebar-course-title {
  display: inline;
  font-size: $md;
  font-weight: 900;
  color: $white;
  @include overflowText;
}

.sidebar-back-button {
  position: absolute;
  left: $md;
  font-size: $md;
  padding-right: $sm;
  color: $white;
  text-decoration: none;

  &:hover {
    color: transparent;
    &::after {
      color: $white;
      position: absolute;
      right: 8px;
      content: "BACK";
      font-size: 12px;
      font-weight: $bold;
      letter-spacing: 1px;
      line-height: $md;
    }
  }
}

.sidebar-course-title-filler {
  width: $md;
}

.sidebar-section-card {
  cursor: pointer;
}

.sidebar-section-title-container {
  padding: $sm $lg;
}

.sidebar-section-title {
  color: $white;
  font-size: $sm;
  font-weight: 400;
  @include overflowText;
}

.sidebar-section-arrow {
  width: $sm;
  height: $sm;
  margin-left: auto;
}

.sidebar-subsection-card-container {
  width: 100%;
  position: relative;
}

.sidebar-subsection-highlight {
  background: $blue;
  height: 100%;
  width: 5px;
  position: absolute;
}

.sidebar-subsection-card {
  height: 40px;
  width: 100%;
  line-height: 40px;
  padding: 0px $lg + $sm;
  margin: 0px;
  cursor: pointer;
  color: $white;

  &:hover {
    background: $black-20;
  }

  &.active {
    height: 100%;
    background: $black-20;
    font-weight: $bold;
  }

  &.inactive {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }
}

.sidebar-subsection-title {
  @include overflowText;
}
