// Shared

.enrolled-courses-title {
  font-size: 28px;
  margin-left: 50px;
  margin-top: 20px;
}

.all-courses-title {
  font-size: 28px;
  margin-left: 50px;
}

// Student


// Admin

.admin-courses-header {
  display: inline-block;
}

.ghetto {
  justify-content: space-between;
}
