.card {
  position: relative;
  background: $white;
  height: 340px;
  // &.inactive {
  //   @include filter(grayscale(100%));
  //   pointer-events: none;
  // }
}

.inactive-card-container {
  @include filter(grayscale(100%));
  pointer-events: none;
}

.card-column {
  width: 100%;
  padding: 0px 40px 40px 0px;
}

.card-img-container {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-title {
  color: $charcoal;
  font-size: 20px;
  margin: 16px;
}

.card-progress-bar {
  position: absolute;
  bottom: 0;
  margin: 16px;
  width: 85%;
}

@media (min-width: 500px) {
  .card-column {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .card-column {
    width: 33.33%;
  }
}

@media (min-width: 1200px) {
  .card-column {
    width: 25%;
  }
}
