.delete-modal-header {
  margin: 0px $xs;
}
.delete-modal-container {
  width: 100%;
}

.delete-modal-column {
  width: 50%;
}

.delete-modal-input {
  margin: 3px $xs;
}

.delete-modal-button {
  width: 100%;
}
