.input {
  @include appearance(none);
  width: 100%;
  background: $white;
  border-radius: 2px;
  border: 1px solid transparent;
  color: $charcoal;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: $regular;
  outline: none;
  padding: 8px 15px;
  transition: 50ms;

  &:focus {
    border: 1px solid $blue-40;
    box-shadow: 0px 0px 6px 0px $blue-40;
  }

  &.error {
    border: 1px solid $red-60;
    box-shadow: 0px 0px 6px 0px $red-60;
  }

  &.success {
    border: 1px solid $green-60;
    box-shadow: 0px 0px 6px 0px $green-60;
  }
}

.input--lg {
  font-size: 16px;
  padding: 12px 18px;
}

.input--sm {
  font-size: 12px;
  padding: 5px 10px;
}

.input-text {
  color: $silver-60;
  &.error {
    color: $red;
  }

  &.success {
    color: $green;
  }
}

.input-label {
  font-size: 12px;
  font-weight: $extra-bold;
  color: $charcoal-60;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.fade-in-out {
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeinout {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

.flash-container {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: $md;
  z-index: 999;
}

.flash {
  padding: $xxs $md;
  width: 100%;
  text-align: center;

  &.alert {
    background: $yellow-60;
  }

  &.error {
    background: $red-60;
  }

  &.notice {
    background: $green-60;
  }
}

.flash-text {
  color: white;
}

.hidden-input {
  display: none;
}

.select {
  @include appearance(none);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 10px;
  background-color: $white;
  background-origin: content-box;
  border-radius: 4px;
  border: 1px solid transparent;
  color: $charcoal;
  font-size: 14px;
  font-weight: 400;
  font-family: $font-stack;
  outline: none;
  padding: 8px 15px;
  transition: 50ms;
  cursor: pointer;

  &:hover {
    border-color: $dark-blue;
  }
}
