.input {
  @include appearance(none);
  width: 100%;
  background: $white;
  border-radius: 4px;
  border: 1px solid transparent;
  color: $black;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: $regular;
  outline: none;
  padding: 8px 15px;
  transition: 50ms;

  &:focus {
    border: 1px solid $blue-40;
  }

  &.error {
    border: 1px solid $red;
  }

  &.success {
    border: 1px solid $green;
  }
}

.input--lg {
  font-size: 16px;
  padding: 12px 18px;
}

.input--sm {
  font-size: 12px;
  padding: 5px 10px;
}

.input-text {
  color: $silver-60;

  &.error {
    color: $red;
  }

  &.success {
    color: $green;
  }
}

.flash {
  padding: $xxs $md;
  width: 100%;
  text-align: center;

  &.alert {
    background: $yellow-60;
  }

  &.error {
    background: $red-60;
  }

  &.notice {
    background: $green-60;
  }
}

.flash-text {
  color: white;
}

.hidden-input {
  display: none;
}

.select {
  @include appearance(none);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 10px;
  background-color: $white;
  background-origin: content-box;
  border-radius: 4px;
  border: 1px solid transparent;
  color: $black;
  font-size: 14px;
  font-weight: 400;
  font-family: $font-stack;
  outline: none;
  padding: 8px 15px;
  transition: 50ms;
  cursor: pointer;

  &:hover {
    border-color: $dark-blue;
  }
}
