.generate-code-csv-course-list {
  ol {
    list-style-position: inside;
  }
  margin-bottom: $lg;
}

.generate-code-csv-course-card {
  height: $xxxl;
  margin: $xs 0px;
  padding: $sm $md;
  background: $white;
  &:hover {
    background: $dark-gray-10;
  }
  &.active {
    border-style: solid;
    border-left-color: $blue;
    border-left-width: 5px;
    font-weight: bold;
    .generate-code-csv-course-text {
      margin-left: -5px;
    }
  }
}

.generate-code-csv-course-text {
  margin: auto 0px;
  float: left;
}
