.inline-edit {
  display: inline-block;
}

.inline-edit-container {
  max-width: 100%;
}

.inline-edit-value {
  float: left;
  max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.inline-edit-input {
  height: 100%;
  width: 100%;
  word-wrap: inherit;
  font-size: 2.5vh;
  color: $light-charcoal;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inline-edit-icon {
  color: $silver-60;
  font-size: 2.5vh;
}
