.nav {
  width: 100%;
  height: 60px;
  background: $dark-silver;
}

.nav-element {
  color: $white;
  cursor: pointer;
  padding: 10px 0px;
  position: relative;
  font-size: 24px;
  line-height: 40px;

  &:hover {
    color: $white;
  }

  &.right {
    float: right;
    color: $light-silver;
    font-size: 18px;
    &:hover {
      color: $white;
    }
  }

  &.logo {
    float: left;
  }

  .prof-image {
    display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: $sm;
    border: 2px solid $light-silver;
    border-radius: 50%;
  }

  .prof-name {
    float: right;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-container {
  display: none;
  position: absolute;
  min-width: 160px;
  line-height: 24px;
  left: auto;
  right: 0;
  top: 55px;
  margin: 2px 0 0;
  z-index: 1000;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: $snow;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-link {
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;

  &:hover {
    background-color: $light-silver;
  }
}

.nav-element:hover .dropdown-container {
  display: block;
}
