.parent-component-container {
  padding: $sm 0px;
  width: 100%;
}

.outer-component-container {
  height: 100%;
}

.subsection-title-container {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: $sm 0px;
}
