.parent-component-container {
  padding: 20px;
  margin: 0px;
  border-radius: 5px;
  height: auto;
  width: 100%;
}

.outer-component-container {
  height: 100%;
}

.subsection-title-container {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
