.roots-logo-container {
  position: relative;
}

.roots-logo-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  @extend .rise-and-fade;

  &.circle {
    @extend .rise-and-fade;
  }
  &.book-spine {
    @extend .rise-and-fade;
  }
  &.book-left {
    @extend .rotate-left-90;
    @include transform-origin(46.25% 59.25%);
  }
  &.book-right {
    @extend .rotate-right-90;
    @include transform-origin(53.75% 59.25%);
  }
  &.page1 {
    @include animation-name(riseFadeIn, rotateLeft56);
    @include animation-duration(0.2s, 0.5s);
    @include slow-ease();
    @include animation-fill-mode(forwards);
    @include animation-delay(500ms);
  }
  &.page2 {
    @include animation-name(riseFadeIn, rotateLeft28);
    @include animation-duration(0.2s, 0.5s);
    @include slow-ease();
    @include animation-fill-mode(forwards);
    @include animation-delay(400ms);
  }
  &.page3 {
    @include animation-name(fadeIn);
    @include animation-duration(0.3s);
    @include slow-ease();
    @include animation-fill-mode(forwards);
    @include animation-delay(300ms);
  }
  &.page4 {
    @include animation-name(riseFadeIn, rotateRight28);
    @include animation-duration(0.2s, 0.5s);
    @include slow-ease();
    @include animation-fill-mode(forwards);
    @include animation-delay(400ms);
  }
  &.page5 {
    @include animation-name(riseFadeIn, rotateRight56);
    @include animation-duration(0.2s, 0.5s);
    @include slow-ease();
    @include animation-fill-mode(forwards);
    @include animation-delay(500ms);
  }
}

.fade-in {
  @include animation-name(fadeIn);
  @include animation-duration(0.3s);
  @include slow-ease();
  @include animation-fill-mode(forwards);
}

.rise-and-fade {
  @include animation-name(riseFadeIn);
  @include animation-duration(0.3s);
  @include slow-ease();
  @include animation-fill-mode(forwards);
  @include animation-delay(100ms);
}

.rotate-left-90 {
  @include animation-name(rise, rotateLeft90);
  @include animation-duration(0.2s, 0.4s);
  @include fast-ease();
  @include animation-fill-mode(forwards);
  @include animation-delay(300ms);
}

.rotate-right-90 {
  @include animation-name(rise, rotateRight90);
  @include animation-duration(0.2s, 0.4s);
  @include fast-ease();
  @include animation-fill-mode(forwards);
  @include animation-delay(300ms);
}
