.roots-logo-container {
  position: relative;
}

.roots-logo-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  @extend .rise-and-fade;

  &.circle {
    @extend .rise-and-fade;
  }
  &.book-spine {
    @extend .rise-and-fade;
  }
  &.book-left {
    @extend .rotate-left-90;
    transform-origin: 46.25% 59.25%;
  }
  &.book-right {
    @extend .rotate-right-90;
    transform-origin: 53.75% 59.25%;
  }
  &.page1 {
    animation: riseFadeIn 0.2s, rotateLeft56 0.5s;
    @include slow-ease();
    animation-fill-mode: forwards;
    @include delay(500);
  }
  &.page2 {
    animation: riseFadeIn 0.2s, rotateLeft28 0.5s;
    @include slow-ease();
    animation-fill-mode: forwards;
    @include delay(400);
  }
  &.page3 {
    animation: fadeIn 0.3s;
    @include slow-ease();
    animation-fill-mode: forwards;
    @include delay(300);
  }
  &.page4 {
    animation: riseFadeIn 0.2s, rotateRight28 0.5s;
    @include slow-ease();
    animation-fill-mode: forwards;
    @include delay(400);
  }
  &.page5 {
    animation: riseFadeIn 0.2s, rotateRight56 0.5s;
    @include slow-ease();
    animation-fill-mode: forwards;
    @include delay(500);
  }
}

.fade-in {
  animation: fadeIn 0.3s;
  @include slow-ease();
  animation-fill-mode: forwards;
}

.rise-and-fade {
  animation: riseFadeIn 0.3s;
  @include slow-ease();
  animation-fill-mode: forwards;
  @include delay(100);
}

.rotate-left-90 {
  animation: rise 0.2s, rotateLeft90 0.4s;
  @include fast-ease();
  animation-fill-mode: forwards;
  @include delay(300);
}

.rotate-right-90 {
  animation: rise 0.2s, rotateRight90 0.4s;
  @include fast-ease();
  animation-fill-mode: forwards;
  @include delay(300);
}
