.section-outline-container {
  padding: 10px;
  border-top: thin solid $light-silver;
}

.section-outline-header {
  justify-content: space-between;
}

.section-outline-header-title {
  font-weight: bold;
}

.section-outline-header-right {
  width: 30%;
  align-items: center;
}

.section-outline-header-bar {
  width: 90%;
  margin-right: $lg;
}

.section-outline-dropdown {
  height: $xs;
  fill: $light-silver;
}

.section-outline-subsections {
  margin-left: $lg;
}

