.tab {
  @include appearance(none);
  background: $white;
  border: 0px;
  color: $charcoal;
  display: inline-block;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: $bold;
  letter-spacing: 0.5px;
  outline: none;
  padding: $xs $md;

  cursor: pointer;

  position: relative;
  overflow: hidden;
  transition: 100ms;

  &.active {
    position: relative;

    &:after {
      content: '';
      width: 100%;
      position: absolute;
      background: $blue;
      height: $xxxs;
      bottom: 0;
      left: 0;
      @include transform(translateY(0))
    }
  }

  &:after {
    content: '';
    width: 100%;
    position: absolute;
    background: $blue;
    height: $xxxs;
    bottom: 0;
    left: 0;
    transition: all 250ms;
    @include transform(translateY($xxxs))
  }

  &:hover {
    background: $light-silver;
  }

  &:hover::after {
    @include transform(translateY(0))
  }
}
