.heading {
  font-size: 46px;
  font-weight: 700;
}

.h1 {
  font-size: 38px;
  font-weight: 600;
}

.h2 {
  font-size: 24px;
  font-weight: 600;
}

.h3 {
  font-size: 18px;
  font-weight: 600;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
