.tooltip {
  position: relative;
  // display: inline-block;

  .tooltiptext {
    visibility: hidden;
    min-width: 100px;
    opacity: 0;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    padding: 3px 10px;
    border-radius: 5px;

    position: absolute;
    z-index: 1;
    transform: translateX(-50%); // Centering
    transition: opacity 0.3s;

    &.top {
      bottom: 120%;
      &::after {
        top: 100%;
        border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
      }
    }

    &.bottom {
      top: 120%;
      &::after {
        bottom: 100%;
        border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
      }
    }

    &::after {
      content: " ";
      position: absolute;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
    }
  }

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
