.tooltip {
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    padding: 5px 0px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;

    &.top {
      bottom: 100%;
      &::after {
        top: 100%;
        border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
      }
    }

    &.bottom {
      top: 100%;
      &::after {
        bottom: 100%;
        border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
      }
    }

    &::after {
      content: " ";
      position: absolute;
        // &.top {
        //   bottom: 100%;
        //   border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
        // }
        // &.bottom {
        //   top: 100%;
        //   border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
        // }
      // top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      // border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
    }
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}
