.update-user-header {
  margin: 0px $xs;
}
.update-user-container {
  width: 100%;
}

.update-user-column {
  width: 50%;
}

.update-user-input {
  margin: 3px $xs;
}

.update-user-button {
  width: 100%;
}
