.user-tab-container {
  width: 100%;
}

.user-list-container {
  width: 100%;
}

.user-list-add-button {
  width: 100%;
}

.user-row-container {
  padding: $xs;
  width: 100%;
}

.user-row-divider {
  width: 100%;
  height: 1px;
  background: $light-silver;
}

.user-list-delete {
  margin-left: auto;
  border: 0px;
  background: $transparent;
  outline: none;
  cursor: pointer;
}

.user-list-delete-image {
  width: 20px;
  height: 20px;
}
